.headerTop-inner {
    display: flex;
    gap: 69px;
    // align-items: center;
    // justify-content: space-between;
}
//********HEADERTOP-ASIDE*********////////
.headerTop-aside {
    flex-basis: 300px;
}
.headerTop-images {
    position: relative;
    margin-bottom: 23px;
}
.headerTop-avatar {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0px;
    top: 90px;
    transform: translateX(-50%);
}
.avatar {
    border-radius: 50%;
}
.aside-info {
    text-align: center;
    margin-bottom: 23px;
}
.aside-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    span {
        font-weight: 400;
font-size: 14px;
line-height: 25px;
margin-bottom: 11px;
text-align: justify;
hyphens: auto;
display: block;
margin-top: 12px;
    }
}
.aside-social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.whatsapp,
.telegram,
.phone {
    -webkit-animation: pulsate-fwd 3s ease-in-out infinite both;
	        animation: pulsate-fwd 3s ease-in-out infinite both;
}
@keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .aside-name_input,
.aside-phone_input,
.aside-text_input {
width: 100%;
background-color: $grey;
padding: 10px;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-bottom: 23px;
color: $white;
&::placeholder {
    color: $white;
}
}
.aside-text_input {
    resize: none;
}
.aside-submit_btn {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
background-color: $red;
padding: 10px;
color: $white;
cursor: pointer;
}
.aside-agreement {
    text-align: center;
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 21px;
    a {
        font-weight: 700;
        color: $black;
    }
}
//********HEADERTOP-CONTENT*********////////

.headerTop-lessons-inner {
    display: flex;
    align-items: center;
    gap: 141px;
    margin-bottom: 79px;
}
.headerTop-lessons-info {
    margin-left: 29px;
}
.headerTop-lessons-title {
    font-weight: 600;
font-size: 24px;
line-height: 42px;
margin-bottom: 6px;
}
.headerTop-lessons-item {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 8px;
    position: relative;
    &::before {
        content: '';
        display: block;
        background-image: url(../../images/svg/checkbox.svg);
        width: 20px;
        height: 20px;
        left: -29px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}
//********HEADERTOP-ADVANTAGES*********////////

.headerTop-advantages-inner {
    margin-bottom: 109px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // gap: 132px;
    // margin-left: -29px;
}
.headerTop-advantages-item {
padding: 33px 20px;
max-width: 214px;
width: 100%;
background-color: $white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
text-align: center;
svg {
    margin-bottom: 21px;
}
}
.headerTop-advantages-text {
    font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 21px;
}
//********HEADERTOP-QUOTES*********////////
.headerTop-quotes {
    display: flex;
    align-items: center;
    // gap: 184px;
}
.headerTop-quotes_swiper {
    max-width: 428px;
    background-color: $white;
    padding: 15px 32px;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
border-radius: 15px;
}
.headerTop-quotes_swiper-slide {
    display: flex;
    justify-content: space-between;
}
.quote {
    margin-right: 45px;
}
.headerTop-quotes-text {
    font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 21px;
margin-bottom: 43px;
}
.headerTop-quotes-name {
    font-weight: 600;
font-size: 12px;
line-height: 21px;
position: relative;
&::before {
    content: '';
    display: block;
    width: 14px;
    height: 1px;
    background-color: $grey;
    position: absolute;
    left: -23px;
    top: 50%;
    right: 0;
    bottom: 50%;
    transform: translateY(-50%);
}
}
.headerTop-quotes-content {
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 2px;
        height: 98px;
        background-color: $grey;
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: -32px;
        right: 0;
        transform: translateY(-50%);
    }
}
.subscribe-section {
    display: flex;
    align-items: center;
    gap: 20px;
    svg {
        -webkit-animation: pulsate-bck 2s ease-in-out infinite both;
	        animation: pulsate-bck 2s ease-in-out infinite both;
    }
}
@keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
.header-subscribe-link {
    position: relative;
    display: inline-block;
    font-weight: 700;
font-size: 12px;
line-height: 21px;
padding: 6px 39px;
background-color: $red;
color: $white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transition: all 0.3s linear;
&:hover {
    background-color: $redonhover;
}
}
@media (max-width: 1368px) {

}