.info {
    margin-bottom: 147px;
}
.info-inner {
    display: flex;
    column-gap: 10px;
}
.reviews {
    text-align: center;
    background: $red;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    flex-basis: 345px;
    padding: 30px 15px;
}
.reviews-title {
    font-weight: 600;
font-size: 20px;
line-height: 35px;
color: $white;
margin-bottom: 27px;
}
.reviews-item {
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 16px;
    margin-bottom: 35px;
}
.reviews-item-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.reviews-item-star {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;

    &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  }
  .reviews-item-date {
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
  }
  .reviews-item-text {
    font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 21px;
margin-bottom: 4px;
  }
  .reviews-item-name {
    font-weight: 600;
font-size: 12px;
line-height: 21px;
margin-bottom: 4px;
  }
  .underline {
    display: block;
    width: 218px;
    background-color: $grey;
    max-width: 218px;
    height: 1px;
    margin: 0 auto;
  }
  .reviews-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  .reviews-feedback {
    max-width: 100%;
    height: 152px;
    resize: none;
    padding: 10px;
    border: none;
    margin-bottom: 43px;
  }
  .reviews-btn {
    padding: 5px 51px;
    border-radius: 10px;
    border: none;
    color: $white;
    font-weight: 700;
font-size: 12px;
line-height: 21px;
    cursor: pointer;
    background-color: $redonhover;
  }
//   *******BLOG**************//
.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.blog-item {
    display: flex;
    background-color: $white;
    box-shadow: 0px 0px 7px 6px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    picture {
        max-width: 100%;
    }
}
.blog-item-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
}
.blog-item-content {
    padding: 25px 20px;
    max-width: 532px;
    width: 100%;
}
.blog-item-category {
    max-width: 184px;
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
padding: 8px 25px;
background: rgba(217, 217, 217, 0.25);
margin-bottom: 7px;
}
.blog-item-title {
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
margin-bottom: 2px;
}
.blog-item-date {
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
margin-bottom: 22px;
}
.blog-item-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}
@media (max-width: 1128px) {
    .reviews {
        align-self: baseline;
    }
    .blog {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }
    .blog-item {
        flex-direction: column;
        max-width: 300px;
    }
}
@media (max-width: 930px) {
    .reviews {
        margin-bottom: 20px;
    }
    .info-inner {
        flex-direction: column;
    }
    .blog-item {
        max-width: 100%;
        width: 100%;
    }
}