$white: #ffffff;
$black: #000000;
$pink: #F3929D;
$redonhover: #F43F5E;
$red: #F871B1;
$grey: #A29EB5;
$gold: #FFD700;
// %title-font {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 700;
// }