<aside class="aside">
    <div class="container">
        <div class="aside-content">
            <img class="aside-bg-img" src="images/aside/asidebg.jpg" alt="table">
            <img class="aside-bg-photo" src="images/aside/asidephoto.jpg" alt="avatar">
            <div class="aside-info">
                <h1 class="aside-title">Андрей Митин <br><span>Преподаватель по английскому языку для детей от 7 лет, подготовка вашего ребенка к школе, обучение грамотному чтению и письму с выездом у вас на дому. Опыт преподования в частной школе 12 лет. Высшее образование по специальности лингвист-переводчик.</span></h1>
                <p class="aside-contacts">Мои Контакты:</p>
            </div>
        </div>
    </div>
</aside>