<section class="info">
    <div class="container">
        <div class="info-inner">
            <div class="reviews">
                <h3 class="reviews-title">Отзывы</h3>
                <article class="reviews-item">
                    <div class="reviews-item-data">
                        <div class="reviews-item-star" style="--rating: 4.9;" aria-label="Rating of this product is 2.3 out of 5."></div>
                        <div class="reviews-item-date">12.02.2023</div>
                        </div>
                    <p class="reviews-item-text">зарекомендовал себя как грамотный специалист, владеющий информационно-коммуникационными технологиями, любящий свою профессию</p>
                    <div class="reviews-item-name">Екатерина И.</div>
                    <div class="underline"></div>
                </article>
                <article class="reviews-item">
                    <div class="reviews-item-data">
                        <div class="reviews-item-star" style="--rating: 4.5;" aria-label="Rating of this product is 2.3 out of 5."></div>
                        <div class="reviews-item-date">25.04.2023</div>
                        </div>
                    <p class="reviews-item-text">Его ученики всегда принимают активное участие во всех мероприятиях и конкурсах, занимают призовые места</p>
                    <div class="reviews-item-name">Анна М.</div>
                    <div class="underline"></div>
                </article>
                <article class="reviews-item">
                    <div class="reviews-item-data">
                        <div class="reviews-item-star" style="--rating: 4.8;" aria-label="Rating of this product is 2.3 out of 5."></div>
                        <div class="reviews-item-date">08.05.2023</div>
                        </div>
                    <p class="reviews-item-text">грамотный, творческий и инициативный педагог, глубоко знающий свой предмет и увлекающий им своих учеников.</p>
                    <div class="reviews-item-name">Вероника Л.</div>
                    <div class="underline"></div>
                </article>
                <form class="reviews-form">
                    <textarea class="reviews-feedback" name="reviews" id="" cols="1" rows="1" placeholder="Напишите свой отзыв"></textarea>
                    <button class="reviews-btn" type="submit">Оставить отзыв</button>
                </form>
            </div>
            <div class="blog">
                <article class="blog-item">
                    <picture>
                      <source srcset="images/blog/blog1.webp" type="image/webp">
                      <img loading="lazy" src="images/blog/blog1.jpg" class="blog-item-image" alt="blog-image">
                    </picture>
                    <div class="blog-item-content">
                        <div class="blog-item-category">обучение английскому</div>
                        <h2 class="blog-item-title">Причины учить английский язык</h2>
                        <div class="blog-item-date">Апр. 10. 2023</div>
                        <p class="blog-item-text">1. Поиск работы <br>
                            2. Язык на котором общаются в интернете<br>
                            3. Возможность путешествовать без ограничений в общении<br>
                            4. Общение с людьми разных национальностей<br>
                            5. Просмотр фильмов, сериалов на английском языке</p>
                      </div>
                </article>
                <article class="blog-item">
                    <picture>
                      <source srcset="images/blog/blog2.webp" type="image/webp">
                      <img loading="lazy" src="images/blog/blog2.jpg" class="blog-item-image" alt="blog-image">
                    </picture>
                    <div class="blog-item-content">
                        <div class="blog-item-category">английский язык</div>
                        <h2 class="blog-item-title">Что такое день английского языка?</h2>
                        <div class="blog-item-date">Фев. 10. 2023</div>
                        <p class="blog-item-text">День английского языка был впервые отпразднован в 2010 году, вместе с такими языками как Арабский, Китайский, Французский, Русский, Испанский. Эти языки являются официальными в ООН и каждый из них празднуется в свой собственный день, подчеркивая свою историю, культуру и достижения.</p>
                      </div>
                </article>
                <article class="blog-item">
                    <picture>
                      <source srcset="images/blog/blog3.webp" type="image/webp">
                      <img loading="lazy" src="images/blog/blog3.jpg" class="blog-item-image" alt="blog-image">
                    </picture>
                    <div class="blog-item-content">
                        <div class="blog-item-category">английский язык</div>
                        <h2 class="blog-item-title">Значимость английского языка</h2>
                        <div class="blog-item-date">Март. 10. 2023</div>
                        <p class="blog-item-text">Английский язык играет огромную роль в жинзни и помогает людям общаться друг с другом. Знание английского языка расширяет кругозор, развивает вашу память, улучшает качество жизни позволяя искать работу по всему миру.</p>
                      </div>
                </article>
            </div>
        </div>
    </div>
</section>