@import 'settings/vars';
@import 'settings/fonts';
@import 'settings/reset';
@import 'settings/libs';
@import 'settings/global';
@import 'settings/media';
@import './components/header';
@import './components/headerTop';
@import './components/info';
@import './components/contacts';
@import './components/footer';